<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span
        >Copyright &copy; <% let date = new Date(); let year =
        date.getFullYear(); if (year == "2022") { %><%= year %><% } else { %>
        2022 - <%= year %> <% } %> All rights reserved
        <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a href="https://github.com/ruriaditya/" target="_blank">Ruri Aditya</a
        >.
      </span>
    </div>
  </div>
</footer>
